body {
  font-size: 16px;
}
.Wrapper_Div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.MainView {
  width: 500px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: column;
  margin-top: 1%;
  border-radius: 0.75rem;
  height: 300px;
  background-color: rgb(190, 190, 190);
}
.Header {
  font-size: 24px;
}
.messages {
  height: 80%;
  display: flex;
  width: 90%;
}
.messageBox {
  width: 95%;
}

.messageInput {
  width: 70%;
  justify-self: baseline;
  margin-bottom: 10px;
  height: 20px;
  border-radius: 0.25rem;
  border: 0px solid wheat;
}
.messageInput:focus {
  outline: none;
  border: none;
}

button:focus {
  outline: none;
  border: none;
}
button {
  width: 25%;
  outline: none;
  border: none;
  padding: 4px;
  margin-left: 5px;
  border-radius: 5px;
}

.profileBox {
  width: 90%;
  display: flex;
}

.profilePic {
  height: 50px;
  background-color: rgb(136, 136, 136);
  width: 50px;
  border-radius: 0.5rem;
  margin-right: 10px;
}
.nameAndMessage p {
  margin: unset;
}

.nameBox {
  margin-bottom: 7px;
}
.Name {
  margin-bottom: 10px;
  font-weight: 700;
}

.isTyping {
  font-size: 10px;
  font-style: italic;
}

.WelcomePage p {
  text-decoration: none;
  font-size: 24px;
}

.WelcomePage span {
  font-size: 16px;
}

.WelcomePage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.joinedEvent {
  color: gray;
  font-size: 10px;
}
